{
  "messages": [
    "Subject : Message 1\r\n\r\nMon premier message.",
    "Subject : Message 2\r\n\r\nMon deuxième message.",
    "Subject : Message 3\r\n\r\nMon troisième message super long du cul.\r\nAvec un deuxième paragraphe en plus."
  ]
}