{
  "victims": [
    {
      "name": "Fabio",
      "surname": "Marques",
      "email": "fabio@example.com"
    },
    {
      "name": "Theo",
      "surname": "Ferrari",
      "email": "theo@example.com"
    },
    {
      "name": "John",
      "surname": "Smith",
      "email": "john@example.com"
    }
  ]
}